@charset "UTF-8";
#logo{
	font-size: 30px;
	color: black;
	text-decoration: none;
}

.menu{
	list-style: none;
	float: left;
	font-size: 24px;
	padding: 10px;
	
}
#menu_frame{
	width: 1200px;
	height: 100px;
	margin: 0;
}
a{
	text-decoration: none;
	color: #7D5A38;
}
hr{
	width: 1200px;
	height: 1px;
	background:#2D4136;
	margin:0;
	
}
#main_frame{
	margin: 20px 20px 20px 0;

}
#notice_frame{
	font-size: 12px;
	margin: 30px 20px 20px 100px;
	white-space: nowrap;
}
#my_trip{
	float: left;
}
.my_trip_button{
	list-style: none;
	font-size: 20px;
	padding: 15px;
	width: 100px;
}
#updown {
    border-left: 1px solid #2D4136;
 	height: 400px;
 	float: left;
 	margin: 20px 0 0 10px;
    }
#info_frame{
	margin: 30px 0 0 180px;	
	padding: 10px;
	width: 1000px;
}
.info_list{
	font-size: 20px;
	padding: 20px;
}
.info_button{
	margin: 0 20px 0 0;
	font-size: 20px;
	
}
#chat_frame{
	width: 1200px;
	height: 300px;
	position: fixed;
	bottom: 10px;
}
#chat{
	position: absolute;
	bottom: 5px;
	right: 10px;
}